.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

#admin-page {
  background-color: rgb(241 245 249);
}

.page-size-selection {
  background-image: none !important;
}

button, input, select {
  outline: none;
}

/* Cho WebKit browsers (Chrome, Safari) */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Độ rộng của thanh cuộn */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d; 
  height: 5px
}